<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CrudFirebase.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E50C8BEF2824A1E100784F8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E50C8C082824A1E200784F8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E50C8C122824A1E200784F8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
